services:
  ripple-user-presence-server:
    container_name: ripple-user-presence-server
    image: ripple-user-presence-server
    build:
      context: ..
      dockerfile: ripple-user-presence-server/Dockerfile
    ports:
      - "10101:10101"
    environment:
      OTEL_SERVICE_NAME: ripple-user-presence-server
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_GRPC_PORT: 10101
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - ripple-network

  ripple-snowflakeid-server:
    container_name: ripple-snowflakeid-server
    image: ripple-snowflakeid-server
    build:
      context: ..
      dockerfile: ripple-snowflakeid-server/Dockerfile
    ports:
      - "10100:10100"
    environment:
      OTEL_SERVICE_NAME: ripple-snowflakeid-server
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_GRPC_PORT: 10100
      ZOOKEEPER_ADDRESS: zookeeper:2181
    networks:
      - ripple-network

  ripple-message-dispatcher:
    container_name: ripple-message-dispatcher
    image: ripple-message-dispatcher
    build:
      context: ..
      dockerfile: ripple-message-dispatcher/Dockerfile
    environment:
      OTEL_SERVICE_NAME: ripple-message-dispatcher
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      BROKER_TOPIC_MESSAGE: ripple-messages
      BROKER_SERVER: kafka:9092
      BROKER_TOPIC_PUSH: ripple-push-notifications
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - ripple-network

  ripple-message-api-server:
    container_name: ripple-message-api-server
    image: ripple-message-api-server
    build:
      context: ..
      dockerfile: ripple-message-api-server/Dockerfile
    ports:
      - "10102:10102"
    environment:
      OTEL_SERVICE_NAME: ripple-message-api-server
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_GRPC_PORT: 10102
      BROKER_TOPIC_MESSAGE: ripple-messages
      BROKER_SERVER: kafka:9092
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - ripple-network

  ripple-message-gateway:
    container_name: ripple-message-gateway
    image: ripple-message-gateway
    build:
      context: ..
      dockerfile: ripple-message-gateway/Dockerfile
    ports:
      - "10200:10200"
      - "10103:10103"
    environment:
      OTEL_SERVICE_NAME: ripple-message-gateway
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      WEBSOCKET_PORT: 10200
      WEBSOCKET_PATH: /ws
      SERVER_GRPC_PORT: 10103
      OAUTH2_JWK_SECRET: YjA4ZTY1MjAtM2I0OC00OGJiLTgyOTUtODY0Y2VlM2M4ZWJm
      ZOOKEEPER_ADDRESS: zookeeper:2181
      ZOOKEEPER_MESSAGE_GATEWAY_DISCOVERY_PATH: /ripple/services/message-gateway
      USER_PRESENCE_SERVICE_ADDRESS: ripple-user-presence-server:10101
    networks:
      - ripple-network

  ripple-push-server:
    container_name: ripple-push-server
    image: ripple-push-server
    build:
      context: ..
      dockerfile: ripple-push-server/Dockerfile
    environment:
      OTEL_SERVICE_NAME: ripple-push-server
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      BROKER_TOPIC_PUSH: ripple-push-notifications
      BROKER_SERVER: kafka:9092
      USER_PRESENCE_SERVICE_ADDRESS: ripple-user-presence-server:10101
      ZOOKEEPER_ADDRESS: zookeeper:2181
      ZOOKEEPER_MESSAGE_GATEWAY_DISCOVERY_PATH: /ripple/services/message-gateway
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - ripple-network

  ripple-authorization-server:
    container_name: ripple-authorization-server
    image: ripple-authorization-server
    build:
      context: ..
      dockerfile: ripple-authorization-server/Dockerfile
    ports:
      - "10001:10001"
    environment:
      OTEL_SERVICE_NAME: ripple-authorization-server
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_PORT: 10001
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/ripple_im?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ripple
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      OAUTH2_CLIENT_ID: ripple-im-desktop
      OAUTH2_CLIENT_SECRET: ripple
      OAUTH2_CLIENT_REDIRECT_URI: http://localhost:8000/callback
      OAUTH2_JWK_SECRET: YjA4ZTY1MjAtM2I0OC00OGJiLTgyOTUtODY0Y2VlM2M4ZWJm
      SNOWFLAKEID_SERVER_HOST: ripple-snowflakeid-server
      SNOWFLAKEID_SERVER_PORT: 10100
    networks:
      - ripple-network

  ripple-upload-gateway:
    container_name: ripple-upload-gateway
    image: ripple-upload-gateway
    build:
      context: ..
      dockerfile: ripple-upload-gateway/Dockerfile
    ports:
      - "10003:10003"
    environment:
      OTEL_SERVICE_NAME: ripple-upload-gateway
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_PORT: 10003
      OAUTH2_JWK_SECRET: YjA4ZTY1MjAtM2I0OC00OGJiLTgyOTUtODY0Y2VlM2M4ZWJm
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET_NAME: ripple-avatars
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SNOWFLAKEID_SERVER_HOST: ripple-snowflakeid-server
      SNOWFLAKEID_SERVER_PORT: 10100
      MESSAGE_API_SERVER_ADDRESS: ripple-message-api-server:10102
    networks:
      - ripple-network

  ripple-api-gateway:
    container_name: ripple-api-gateway
    image: ripple-api-gateway
    build:
      context: ..
      dockerfile: ripple-api-gateway/Dockerfile
    ports:
      - "10002:10002"
    environment:
      OTEL_SERVICE_NAME: ripple-api-gateway
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      SERVER_PORT: 10002
      SPRING_APPLICATION_NAME: ripple-api-gateway
      OAUTH2_JWK_SECRET: YjA4ZTY1MjAtM2I0OC00OGJiLTgyOTUtODY0Y2VlM2M4ZWJm
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      MESSAGE_API_SERVER_ADDRESS: ripple-message-api-server:10102
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SNOWFLAKEID_SERVER_HOST: ripple-snowflakeid-server
      SNOWFLAKEID_SERVER_PORT: 10100
    networks:
      - ripple-network

  ripple-async-storage-updater:
    container_name: ripple-async-storage-updater
    image: ripple-async-storage-updater
    build:
      context: ..
      dockerfile: ripple-async-storage-updater/Dockerfile
    environment:
      OTEL_SERVICE_NAME: ripple-async-storage-updater
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4318
      OTEL_EXPORTER_OTLP_PROTOCOL: http/protobuf
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: none
      OTEL_TRACES_EXPORTER: none
      OTEL_INSTRUMENTATION_HTTP_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      OTEL_INSTRUMENTATION_RPC_SERVER_EMIT_EXPERIMENTAL_METRICS: "true"
      CASSANDRA_CONTACT_POINTS: cassandra:9042
      CASSANDRA_KEYSPACE_NAME: ripple
      CASSANDRA_LOCAL_DATACENTER: datacenter1
      BROKER_SERVER: kafka:9092
      REDIS_HOST: redis
      REDIS_PORT: 6379
    networks:
      - ripple-network

networks:
  ripple-network:
    external: true