<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanaujie.ripple.database.mapper.RelationMapper">
    <resultMap id="UserRelationResultMap" type="UserRelation">
        <id property="id" column="id"/>
        <result property="sourceUserId" column="source_user_id"/>
        <result property="targetUserId" column="target_user_id"/>
        <result property="targetUserDisplayName" column="target_user_display_name"/>
        <result property="relationFlags" column="relation_flags"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap id="RelationWithProfileResultMap" type="RelationWithProfile">
        <id property="id" column="id"/>
        <result property="sourceUserId" column="source_user_id"/>
        <result property="targetUserId" column="target_user_id"/>
        <result property="targetUserDisplayName" column="target_user_display_name"/>
        <result property="relationFlags" column="relation_flags"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="targetNickName" column="target_nick_name"/>
        <result property="targetAvatar" column="target_avatar"/>
    </resultMap>

    <select id="findRelationBySourceAndTarget" resultMap="UserRelationResultMap">
        SELECT id, source_user_id, target_user_id, target_user_display_name, relation_flags, created_time, updated_time
        FROM user_relation
        WHERE source_user_id = #{sourceUserId}
          AND target_user_id = #{targetUserId}
    </select>

    <update id="upsertRelationFlags">
        INSERT INTO user_relation (source_user_id, target_user_id, relation_flags)
        VALUES (#{sourceUserId}, #{targetUserId}, #{relationFlags}) ON DUPLICATE KEY
        UPDATE
            relation_flags =
        VALUES (relation_flags), updated_time = CURRENT_TIMESTAMP (3)
    </update>

    <update id="updateDisplayName">
        UPDATE user_relation
        SET target_user_display_name = #{displayName},
            updated_time             = CURRENT_TIMESTAMP(3)
        WHERE source_user_id = #{sourceUserId}
          AND target_user_id = #{targetUserId}
    </update>


    <select id="findAllRelationsBySourceUserId" resultMap="RelationWithProfileResultMap">
        SELECT ur.id,
               ur.source_user_id,
               ur.target_user_id,
               ur.target_user_display_name,
               ur.relation_flags,
               ur.created_time,
               ur.updated_time,
               up.nick_name as target_nick_name,
               up.avatar    as target_avatar
        FROM user_relation ur
                 LEFT JOIN user_profile up ON ur.target_user_id = up.user_id
        WHERE ur.source_user_id = #{sourceUserId}
    </select>

</mapper>