<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanaujie.ripple.database.mapper.UserProfileMapper">
    <resultMap id="UserProfileResultMap" type="UserProfile">
        <id property="userId" column="user_id"/>
        <result property="userType" column="user_type"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatar" column="avatar"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="UserProfileResultMap">
        SELECT user_id, user_type, nick_name, avatar, created_time, updated_time
        FROM user_profile
        WHERE user_id = #{userId}
    </select>

    <insert id="insertUserProfile" parameterType="UserProfile"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_profile (user_id, user_type, nick_name, avatar)
        VALUES (#{userId}, #{userType}, #{nickName}, #{avatar})
    </insert>

    <update id="updateUserProfile" parameterType="UserProfile">
        UPDATE user_profile
        SET user_type = #{userType},
            nick_name = #{nickName},
            avatar    = #{avatar}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserProfile" parameterType="long">
        DELETE
        FROM user_profile
        WHERE user_id = #{userId}
    </delete>

    <select id="countById" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM user_profile
        WHERE user_id = #{userId}
    </select>

    <update id="updateNickName">
        UPDATE user_profile
        SET nick_name = #{nickName}
        WHERE user_id = #{userId}
    </update>

    <update id="updateAvatar">
        UPDATE user_profile
        SET avatar = #{avatar}
        WHERE user_id = #{userId}
    </update>

</mapper>