<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanaujie.ripple.authorization.mapper.AuthorizationMapper">
    <resultMap id="AuthorizationResultMap" type="Authorization">
        <id property="id" column="id"/>
        <result property="registeredClientId" column="registeredClientId"/>
        <result property="principalName" column="principalName"/>
        <result property="authorizationGrantType" column="authorizationGrantType"/>
        <result property="authorizedScopes" column="authorizedScopes"/>
        <result property="attributes" column="attributes"/>
        <result property="state" column="state"/>
        <result property="authorizationCodeValue" column="authorizationCodeValue"/>
        <result property="authorizationCodeIssuedAt" column="authorizationCodeIssuedAt"/>
        <result property="authorizationCodeExpiresAt" column="authorizationCodeExpiresAt"/>
        <result property="authorizationCodeMetadata" column="authorizationCodeMetadata"/>
        <result property="accessTokenValue" column="accessTokenValue"/>
        <result property="accessTokenIssuedAt" column="accessTokenIssuedAt"/>
        <result property="accessTokenExpiresAt" column="accessTokenExpiresAt"/>
        <result property="accessTokenMetadata" column="accessTokenMetadata"/>
        <result property="accessTokenType" column="accessTokenType"/>
        <result property="accessTokenScopes" column="accessTokenScopes"/>
        <result property="refreshTokenValue" column="refreshTokenValue"/>
        <result property="refreshTokenIssuedAt" column="refreshTokenIssuedAt"/>
        <result property="refreshTokenExpiresAt" column="refreshTokenExpiresAt"/>
        <result property="refreshTokenMetadata" column="refreshTokenMetadata"/>
        <result property="oidcIdTokenValue" column="oidcIdTokenValue"/>
        <result property="oidcIdTokenIssuedAt" column="oidcIdTokenIssuedAt"/>
        <result property="oidcIdTokenExpiresAt" column="oidcIdTokenExpiresAt"/>
        <result property="oidcIdTokenMetadata" column="oidcIdTokenMetadata"/>
        <result property="oidcIdTokenClaims" column="oidcIdTokenClaims"/>
        <result property="userCodeValue" column="userCodeValue"/>
        <result property="userCodeIssuedAt" column="userCodeIssuedAt"/>
        <result property="userCodeExpiresAt" column="userCodeExpiresAt"/>
        <result property="userCodeMetadata" column="userCodeMetadata"/>
        <result property="deviceCodeValue" column="deviceCodeValue"/>
        <result property="deviceCodeIssuedAt" column="deviceCodeIssuedAt"/>
        <result property="deviceCodeExpiresAt" column="deviceCodeExpiresAt"/>
        <result property="deviceCodeMetadata" column="deviceCodeMetadata"/>
    </resultMap>

    <insert id="save" parameterType="Authorization">
        INSERT INTO authorization (
            id, registeredClientId, principalName, authorizationGrantType, authorizedScopes, attributes, state,
            authorizationCodeValue, authorizationCodeIssuedAt, authorizationCodeExpiresAt, authorizationCodeMetadata,
            accessTokenValue, accessTokenIssuedAt, accessTokenExpiresAt, accessTokenMetadata, accessTokenType, accessTokenScopes,
            refreshTokenValue, refreshTokenIssuedAt, refreshTokenExpiresAt, refreshTokenMetadata,
            oidcIdTokenValue, oidcIdTokenIssuedAt, oidcIdTokenExpiresAt, oidcIdTokenMetadata, oidcIdTokenClaims,
            userCodeValue, userCodeIssuedAt, userCodeExpiresAt, userCodeMetadata,
            deviceCodeValue, deviceCodeIssuedAt, deviceCodeExpiresAt, deviceCodeMetadata
        ) VALUES (
            #{id}, #{registeredClientId}, #{principalName}, #{authorizationGrantType}, #{authorizedScopes}, #{attributes}, #{state},
            #{authorizationCodeValue}, #{authorizationCodeIssuedAt}, #{authorizationCodeExpiresAt}, #{authorizationCodeMetadata},
            #{accessTokenValue}, #{accessTokenIssuedAt}, #{accessTokenExpiresAt}, #{accessTokenMetadata}, #{accessTokenType}, #{accessTokenScopes},
            #{refreshTokenValue}, #{refreshTokenIssuedAt}, #{refreshTokenExpiresAt}, #{refreshTokenMetadata},
            #{oidcIdTokenValue}, #{oidcIdTokenIssuedAt}, #{oidcIdTokenExpiresAt}, #{oidcIdTokenMetadata}, #{oidcIdTokenClaims},
            #{userCodeValue}, #{userCodeIssuedAt}, #{userCodeExpiresAt}, #{userCodeMetadata},
            #{deviceCodeValue}, #{deviceCodeIssuedAt}, #{deviceCodeExpiresAt}, #{deviceCodeMetadata}
        )
        ON DUPLICATE KEY UPDATE
            registeredClientId = VALUES(registeredClientId),
            principalName = VALUES(principalName),
            authorizationGrantType = VALUES(authorizationGrantType),
            authorizedScopes = VALUES(authorizedScopes),
            attributes = VALUES(attributes),
            state = VALUES(state),
            authorizationCodeValue = VALUES(authorizationCodeValue),
            authorizationCodeIssuedAt = VALUES(authorizationCodeIssuedAt),
            authorizationCodeExpiresAt = VALUES(authorizationCodeExpiresAt),
            authorizationCodeMetadata = VALUES(authorizationCodeMetadata),
            accessTokenValue = VALUES(accessTokenValue),
            accessTokenIssuedAt = VALUES(accessTokenIssuedAt),
            accessTokenExpiresAt = VALUES(accessTokenExpiresAt),
            accessTokenMetadata = VALUES(accessTokenMetadata),
            accessTokenType = VALUES(accessTokenType),
            accessTokenScopes = VALUES(accessTokenScopes),
            refreshTokenValue = VALUES(refreshTokenValue),
            refreshTokenIssuedAt = VALUES(refreshTokenIssuedAt),
            refreshTokenExpiresAt = VALUES(refreshTokenExpiresAt),
            refreshTokenMetadata = VALUES(refreshTokenMetadata),
            oidcIdTokenValue = VALUES(oidcIdTokenValue),
            oidcIdTokenIssuedAt = VALUES(oidcIdTokenIssuedAt),
            oidcIdTokenExpiresAt = VALUES(oidcIdTokenExpiresAt),
            oidcIdTokenMetadata = VALUES(oidcIdTokenMetadata),
            oidcIdTokenClaims = VALUES(oidcIdTokenClaims),
            userCodeValue = VALUES(userCodeValue),
            userCodeIssuedAt = VALUES(userCodeIssuedAt),
            userCodeExpiresAt = VALUES(userCodeExpiresAt),
            userCodeMetadata = VALUES(userCodeMetadata),
            deviceCodeValue = VALUES(deviceCodeValue),
            deviceCodeIssuedAt = VALUES(deviceCodeIssuedAt),
            deviceCodeExpiresAt = VALUES(deviceCodeExpiresAt),
            deviceCodeMetadata = VALUES(deviceCodeMetadata)
    </insert>

    <delete id="deleteById" parameterType="string">
        DELETE FROM authorization WHERE id = #{id}
    </delete>

    <select id="findById" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE id = #{id}
    </select>

    <select id="findByState" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE state = #{state}
    </select>

    <select id="findByAuthorizationCodeValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE authorizationCodeValue = #{authorizationCodeValue}
    </select>

    <select id="findByAccessTokenValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE accessTokenValue = #{accessTokenValue}
    </select>

    <select id="findByRefreshTokenValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE refreshTokenValue = #{refreshTokenValue}
    </select>

    <select id="findByOidcIdTokenValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE oidcIdTokenValue = #{oidcIdTokenValue}
    </select>

    <select id="findByUserCodeValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE userCodeValue = #{userCodeValue}
    </select>

    <select id="findByDeviceCodeValue" parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization WHERE deviceCodeValue = #{deviceCodeValue}
    </select>

    <select id="findByStateOrAuthorizationCodeValueOrAccessTokenValueOrRefreshTokenValueOrOidcIdTokenValueOrUserCodeValueOrDeviceCodeValue" 
            parameterType="string" resultMap="AuthorizationResultMap">
        SELECT * FROM authorization 
        WHERE state = #{token}
           OR authorizationCodeValue = #{token}
           OR accessTokenValue = #{token}
           OR refreshTokenValue = #{token}
           OR oidcIdTokenValue = #{token}
           OR userCodeValue = #{token}
           OR deviceCodeValue = #{token}
        LIMIT 1
    </select>

</mapper>